.header {
    width: 100%;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 1000; /* Đảm bảo header luôn ở trên cùng */
  }
  